# Dependencies
node_modules
npm-debug.log
yarn-error.log
pnpm-lock.yaml

# Build files
dist
coverage

# OS-specific files
.DS_Store
Thumbs.db

# Logs and environment files
*.log
.env
.vscode/
.idea/

# Docker-related
.dockerignore
Dockerfile
docker-compose.yml